<!DOCTYPE html>
<html>
  <body>
    <h1><%= @greeting %></h1>
    <p>We are excited to inform you about our new campaign: <%= @campaign.name %></p>
    <p>Details: <%= @campaign.campaign_type %></p>
    <p>Thank you!</p>
  </body>
</html>
